:root {
  --max-width: 1280px;
}

#root {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem;
}

h1,
h2,
#root > :where(p.author, p.reference)  {
  text-align: center;
}

p.author, p.reference, p.reference > a {
  color: #a471ff;
  font-size: 0.9em;
}

p.reference:hover > a {
  text-decoration: underline;
  color: blue;
}

li:not(.node-type_folder) {
  color: light-dark(black, #a8a8de);
}

#root > .node-list {
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 300px;
  min-width: 400px;

  .node-list {
    border: 1px solid transparent;
    border-left: 2px solid transparent;
  }
}

.node-list {
  border: 1px solid #000000ff;
  background-color: #2d2d2d;
  padding: 0.25em 0em 0.25em 0.5em;
}

/* UI: Hint the holder is open. The line encapsulates what's in it */
#root .node-type_folder > .node-list:has( > details[open]) {
  border-left: 2px solid #393535;
}

.node-list ul > li {
  text-align: left;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-left: calc(1em * var(--indentBy));
}

.list-nodes > li {
  padding-left: 1em;

  &:not(.node-type_folder)::before {
    display: inline-block;
    content: "📦";
    margin-right: 0.25em;
  }
}

/* Fancy Icons for open and closed folders */
details {
  > summary {
    cursor: pointer;
    transition: color 250ms;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  > summary::before {
    content: "📁";
    display: inline-block;
    margin-right: 0.25em;
  }
  &[open] > summary::before {
    content: "📂";
  }
}

/* ---------------------------------------------------------------------------*/

#node-options {
  border: 1px solid #0d0d0d;
  display: flex;
  margin: 2em 0 0.5em 0;
  background-color: #1b1b1b61;
  backdrop-filter: blur(3px);

  > section {
    padding: 0.5em;
  }
}

#filter {
  flex: 1;
  display: flex;
  label {
    margin-right: 0.25em;
  }
}

#order-by {
  text-align: center;

  label {
    margin-right: 0.25em;
    color: #989898;
    font-size: 0.9em;
  }
}


.list-nodes > li {
  > .date-added {
    color: #5a5a5aff;
    background-color: #1b1b1bff;
    border-radius: 3px;
    margin-left:  0.3em;
    padding: 0.1em 0.3em;
    transition: color 300ms;
    font-size: 0.9em;
  }

  &:hover > .date-added {
    color: #ffffff;
  }
}
