:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-width: 1280px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

code {
  color: #b3c156;;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 100% 100%'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='100%' height='100%' x='0' y='0' fill='%230e2a47' data-darkreader-inline-fill='' style='--darkreader-inline-fill: var(--darkreader-background-0e2a47%2c %2323313d)%3b'%3e%3c/rect%3e%3cpath d='M0%2c484.741C101.979%2c492.839%2c209.059%2c513.596%2c300.165%2c467.066C394.59%2c418.841%2c461.323%2c327.125%2c501.071%2c228.831C539.848%2c132.938%2c526.285%2c28.543%2c519.225%2c-74.653C511.605%2c-186.034%2c527.3%2c-309.351%2c458.252%2c-397.078C388.557%2c-485.627%2c268.609%2c-519.002%2c157.038%2c-534.821C54.898%2c-549.302%2c-39.743%2c-498.697%2c-141.563%2c-482.119C-261.51%2c-462.589%2c-404.304%2c-509.874%2c-494.743%2c-428.697C-584.932%2c-347.745%2c-585.236%2c-205.299%2c-584.986%2c-84.108C-584.759%2c25.684%2c-551.294%2c132.042%2c-493.392%2c225.325C-440.16%2c311.084%2c-360.359%2c374.738%2c-271.018%2c421.712C-187.227%2c465.768%2c-94.37%2c477.248%2c0%2c484.741' fill='%230b2239' data-darkreader-inline-fill='' style='--darkreader-inline-fill: var(--darkreader-background-0b2239%2c %23212b35)%3b'%3e%3c/path%3e%3cpath d='M100% 963.375C1530.437 972.948 1627.067 1018.8240000000001 1707.027 975.501 1787.362 931.975 1817.895 832.058 1843.983 744.4929999999999 1867.612 665.183 1852.392 583.948 1848.307 501.294 1843.755 409.197 1869.55 308.786 1818.649 231.899 1766.279 152.79399999999998 1672.024 98.815 1577.394 92.07999999999998 1487.248 85.66399999999999 1415.32 158.94299999999998 1333.522 197.37 1265.783 229.192 1185.104 240.16500000000002 1138.136 298.433 1091.72 356.01599999999996 1087.13 434.795 1082.637 508.619 1078.443 577.543 1093.267 643.142 1113.133 709.275 1135.943 785.207 1144.393 873.913 1206.988 922.573 1270.529 971.9680000000001 1359.965 954.903 100% 963.375' fill='%23113255' data-darkreader-inline-fill='' style='--darkreader-inline-fill: var(--darkreader-background-113255%2c %23273645)%3b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='100%' height='100%' fill='white' data-darkreader-inline-fill='' style='--darkreader-inline-fill: var(--darkreader-text-ffffff%2c %23dcd4c7)%3b'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}